#bePartner {
    margin-bottom: 12px;

    .container {
        .row {
            padding: 0px 20px;

            .partnerBox {
                background-color: #930100;
                display: flex;
                padding: 83px 0px;
                justify-content: center;

                .partnerLeftBox {

                    .partnerTextBox {
                        .partnerTitle {
                            h2 {}

                        }

                        .partnerDesc {
                            p {}
                        }
                    }
                }

                .partnerRightBox {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                    .partnerBtnBox {
                    
                        button {
                            padding: 15px 55px;
                            color: #F2F2F2;
                            font-size: 16px;
                            line-height: 20px;
                            border-radius: 10px;
                            background-color: #000000;
                        }
                    }
                }
            }

        }
    }
}