#registerListener {
  margin-top: 50px;
  margin-bottom: 129px;

  .container {
    .row {
      .registerListenerTitleBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 64px;
        text-align: center;

        h2 {
          font-size: 36px;
          color: #000;
          line-height: 40px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 8px;
        }

        p {
          color: #666;
          font-size: 16px;
          line-height: 20px;
        }
      }

      .registerListenerJoinBox {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;

        p {
          color: #000;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          margin-right: 4px;
        }

        a {
          color: #ff3a00;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
        }
      }

      .registerListenerBtnBox {
        text-align: center;

        button {
          color: #000;
          background-color: #E5E5E5;
          border-radius: 10px;
          font-size: 16px;
          line-height: 20px;
          padding: 15.2px 64.08px;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        button:hover {
          background-color: #ff793f;
          color: #F2F2F2;
        }
      }
    }

    .registerListenerInputRow {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 37px;

      .registerListenerFullnameBox,
      .registerListenerEmailBox,
      .registerListenerPasswordBox,
      .registerListenerPasswordConfirmBox {

        max-width: 512px;
        width: 100%;
        position: relative;

        .errorBox {
          // display: none;
          display: inline-block;

          p {
            position: absolute;
            bottom: 0px;
            left: 0;
            color: #DC5959;
          }
        }

        &.error {
          input {
            border-color: red;
            color: red;
          }
        }


        input {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: #666;
          width: 100%;
          height: 50px;
          border-radius: 6px;
          background-color: #f2f2f2;
          box-sizing: border-box;
          padding-left: 12px;
        }

        .registerInputTitle {
          position: absolute;
          top: -22px;
          left: 2px;

          p {
            font-size: 16px;
            color: #000;
            line-height: 20px;
            font-weight: 400;
          }
        }
      }

      .registerListenerFullnameBox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 512px;

        .registerListenerNameSurname {
          max-width: 330px;
          width: 100%;
          position: relative;
          margin-right: 32px;

          &:last-child {
            margin-right: 0;
          }

          input {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            color: #666;
            width: 100%;
            height: 50px;
            border-radius: 6px;
            background-color: #f2f2f2;
            padding-left: 12px;

            box-sizing: border-box;
          }

          .registerInputTitle {
            position: absolute;
            top: -26px;
            left: 2px;

            p {
              font-size: 16px;
              color: #000;
              line-height: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .registerRuleRow {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-top: 8px;



      .registerRuleBox {
        max-width: 512px;
        width: 100%;
        padding-bottom: 58px;
        position: relative;

        input {
          display: none;
        }

        label {
          display: flex;
          //       justify-content: center;
          //       align-items: center;
          gap: 8px;
          cursor: pointer;
          font-size: 12px;
          color: #000;

          .checkbox-box {
            width: 16px;
            height: 16px;
            border: 1px solid #D32F2F;
            border-radius: 4px;
            background-color: white;
            transition: background-color 0.3s ease;

          }
        }

        input:checked+label .checkbox-box {
          background-color: #ff3a00; // 
        }

        .errorBox {

          // display: inline-block;
          span {
            position: absolute;
            top: 20px;
            left: 0;
            color: #DC5959;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }

    .registerListenerLineRow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 12px;
      margin-bottom: 24px;

      .registerListenerLineBox {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 528px;
        width: 100%;

        hr {
          width: calc((100% - 51px) / 2);
          height: 1px;
          background-color: #666;
          max-width: 240px;
        }

        span {
          white-space: nowrap;
          color: #666;
          font-size: 14px;
          padding: 0 8px;
        }
      }
    }

    .registerListenerSosialBtnRow {
      margin-bottom: 16px;

      .registerListenerSosialBtnBox {
        text-align: center;

        button {
          color: #000;
          background-color: #F2F2F2;
          border-radius: 10px;
          font-size: 12px;
          line-height: 14px;
          width: 160px;
          height: 40px;
          border: 1px solid #666;
          cursor: pointer;
          transition: background-color 0.5s ease;

        }

        .googleBtn {
          margin-right: 20px;
        }

        button:hover {
          background-color: #ff3a00;
          color: #F2F2F2;
          border: none;
        }
      }
    }

  }


}