#registerCompleted {
  margin-top: 58px;
  margin-bottom: 129px;
  .container {
    .row {
      .registerCompletedBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 115px;

        ul {
          display: flex;
          text-align: center;
          flex-wrap: wrap;
          gap: 23px;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            span {
              color: #000;
              font-size: 14px;
              line-height: 18px;
              position: absolute;
              bottom: -20px;
              left: 0px;
            }
            .compLeft {
              left: -10px;
            }

            i {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              width: 36px;
              height: 36px;
              background-color: #256428;
              border-radius: 50%;
              font-size: 14px;
              color: #000;
              margin-bottom: 4px;
              color: #f2f2f2;
            }
          }

          //   .completed {
          //     p {
          //       display: none;
          //     }

          //     i {
          //
          //     }

          //     ::before {
          //       content: "\f00c";
          //       font-family: "Font Awesome 6 Free";
          //       font-weight: 600;
          //       display: flex;
          //       justify-content: center;
          //       align-items: center;
          //       width: 40px;
          //       height: 40px;
          //       border-radius: 50%;
          //       font-size: 16px;
          //       color: #fff;
          //       margin-bottom: 4px;
          //     }
          //   }
        }
      }

      .registerCompletedTitleBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 74px;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f2f2f2;
          background-color: #235e26;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          font-size: 22px;
          margin-bottom: 16px;
        }
        h2 {
          font-size: 36px;
          color: #235e26;
          line-height: 40px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 32px;
        }

        p {
          text-align: center;
          color: #000000;
          font-size: 20px;
          line-height: 24px;
          font-weight: bold;
        //   max-width: 393px;
          opacity: 80%;
        }
      }

      .registerCompletedBtnBox {
        text-align: center;

        button {
          border-radius: 10px;
          font-size: 16px;
          line-height: 20px;
          padding: 16px 80px;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background-color: #666666;
          color: #f2f2f2;
        }
        button:hover {
          background-color: #ff3a00;
        }
      }
    }
   
  }
}
